 * {
     font-family: 'Montserrat';
     box-sizing: border-box;
 }

 .login_nav {
     width: 100%;
     height: 45px;
     margin: auto;
     padding: auto;
     background-color: #F3F3F3;
     display: flex;
     justify-content: end;
     align-items: center;

 }

 .login_nav div {
     width: 35%;
     padding-right: 1%;
     color: #37474F;
     display: flex;
     justify-content: space-evenly;
     font-size: 15px;
     ;
 }

 .login_nav div a {
     text-decoration: none;
     color: #37474F;
 }


 /*  Main nav bar */
 .main {
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* margin-bottom: -1%; */
 }

 .main img {
     width: 10%;
 }

 .main div {
     display: flex;
     align-items: center;
 }

 .main a {
     margin-left: 1%;
     margin-right: 1%;
     text-decoration: none;
     color: #37474F;
 }

 .main a:hover {
     margin-left: 1%;
     margin-right: 1%;
     font-weight: bold;
     color: #263238;
 }

 .cart {
     margin-right: 1%;
     width: 20%;
     height: 65px;
     text-align: center;
     margin: auto;
 }

 .cart div i {
     margin: auto;
 }

 .cart div:nth-child(1) {
     /* border: 1px solid #1976D2; */
     width: 50%;
     height: 75px;

 }

 .cart div:nth-child(2) {
     background-color: #1976D2;
     color: white;
     width: 50%;
     height: 75px;
 }

 /*  account details */




 /* footer */

 .about_section {
     width: 100%;
     margin: auto;
     margin-top: 20%;
     padding: 2%;
     display: grid;
     grid-template-columns: repeat(4, 25%);

 }

 .about_section div a {
     display: block;
 }

 .about_section div a {
     color: #37474F;
     text-decoration: none;
     /* margin: 2% 2% !important; */
     margin-bottom: 3%;

 }

 footer {
     margin: auto;
     display: flex;
     background-color: #333;
     color: white;
     padding-top: 2%;
     padding-left: 2%;
     font-size: 12px;
     padding-bottom: 10%;
 }

 ul.no-bullets {
     display: flex;
     list-style-type: none;
     margin-right: 20%;
 }

 ul.no-bullets li {
     padding-right: 5%;
 }


 footer div img {
     width: 12%;
     height: 80px;
     padding-top: 4%;
     margin-right: 5%;
 }


 /*  revenue */
 * {
     /* margin: 0;
            padding: 0; */

     text-decoration: none;
     list-style: none;
 }

 /* body {
            background-color: #30336b;
            min-height: 100vh;
            display: flex;
            align-items: center;
        } */

 .pricing-table {

     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     width: min(1600px, 100%);
     margin: auto;
     list-style: none;
 }

 .pricing-card {
     flex: 1;
     max-width: 360px;
     background-color: #fff;
     margin: 20px 10px;
     text-align: center;
     cursor: pointer;
     overflow: hidden;
     color: #2d2d2d;
     transition: .3s linear;
 }

 .pricing-card-header {
     background-color: #0fbcf9;
     display: inline-block;
     color: #fff;
     padding: 12px 30px;
     border-radius: 0 0 20px 20px;
     font-size: 16px;
     text-transform: uppercase;
     font-weight: 600;
     transition: .4s linear;
 }

 .pricing-card:hover .pricing-card-header {
     box-shadow: 0 0 0 26em #0fbcf9;
 }

 .price {
     font-size: 70px;
     color: #0fbcf9;
     margin: 40px 0;
     transition: .2s linear;
 }

 .price sup,
 .price span {
     font-size: 22px;
     font-weight: 700;
 }

 .pricing-card:hover,
 .pricing-card:hover .price {
     color: #fff;
 }

 .pricing-card li {
     font-size: 16px;
     padding: 10px 0;
     text-transform: uppercase;
 }


 .order-btn:hover {
     background-color: #0fbcf9;
     /* color: #fff; */
 }

 @media screen and (max-width:1100px) {
     .pricing-card {
         flex: 50%;
     }
 }





 /*  back to shopping */

 #backTohomepage {
     background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
     background-color: #20bf55;
     height: 30px;
     color: white;
     position: fixed;
     text-decoration: none;
     font-size: 20px;
     padding: 5px;
     margin-top: 1%;
 }