<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.0/jspdf.debug.js"></script>
    <link rel="stylesheet" href="./admincss//admin.orders.css">
    <title>shoempire</title>
    <link rel="icon" type="image/x-icon" href="/front-end//images//Empire.png" sizes="30x35">
    <style>

    </style>
</head>

<body>
    <nav class="login_nav">
        <div>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" id="fafa" class="fa">&#xf0d1;</i>
            <a href="" id="trackOrder">Track Order</a>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" id="fa" class="fa">&#xf041;</i>
            <a href="" id="storeLocator">Store Locator</a>
            <i class="fa fa-user" style="font-size:20px; color:#455A64; margin-right: -10px;"></i>
            <a href="" id="logInStatus">Log Out</a>
        </div>

    </nav>
    <p></p>
    <!--  Main navbar -->

    <nav class="main">
        <div>
            <img src="/front-end/images//gifmaker_me (1).gif" alt="">
            <a href="./admin.product.html">Homepage</a>
            <a href="./admin.product.html">Men</a>
            <a href="./admin.product.html">Woman</a>
            <a href="">Originals</a>
            <a href="">Accessories</a>
            <a href="./sale.html">Sales & Revenue</a>
            <a href="./users.html">Users</a>
        </div>

        <div class="cart">
            <div>
                <i style="font-size:35px ;" class="fa fa-search"></i>
            </div>
            <div>
                <a href=""> <i style="font-size:35px ; color: white; padding-left: 34%;" class="fa">&#xf07a;
                    </i></a>
            </div>
        </div>
    </nav>
    <hr>

    <a href="./admin.product.html" id="backTohomepage"> &#8617; Back to Homepage </a>

    <div id="bigContainer">

    </div>










    <!-- footer -->
    <div class="about_section">
        <div>
            <hr>
            <h4>DEPARTMENTS</h4>
            <hr>
            <a href="">Womens</a>
            <a href="">Mens</a>
            <a href="">Originals</a>
            <a href="">Kids</a>
            <a href="">Styles & Stories</a>
            <a href="">Sale</a>
            <a href="">Blog</a>

        </div>


        <div>
            <hr>
            <h4>HELPS</h4>
            <hr>
            <a href="">Product Recall</a>
            <a href="">Customer Service</a>
            <a href="">Shipping & Delivery</a>
            <a href="">Order Lookup</a>
            <a href="">Returns</a>
            <a href="">Compare At Pricing</a>
            <a href="">FAQs</a>
            <a href="">ID.ME FAQs</a>
            <a href="">Accessability</a>
        </div>

        <div>
            <hr>
            <h4>ABOUT SHOEMPIRE</h4>
            <hr>
            <a href="">About Us</a>
            <a href="">Affilate Program</a>
            <a href="">Carrer</a>
            <a href="">California- Do Not Sell my Info</a>
            <a href="">California Supply Chains Act</a>
            <a href="">Corprative Resposibility</a>
            <a href="">Technologies</a>
            <a href="">Cookie Policy</a>

        </div>

        <div>
            <hr>
            <h4>SHOEMPIRE.COM</h4>
            <hr>
            <a href="">Gift Cards</a>
            <a href="">Gift card Balance</a>
            <a href="">Size Guide</a>
            <a href="">Shoe Care Guide</a>
        </div>
    </div>



    <footer>


        <ul class="no-bullets">
            <li>Terms and Conditions</li>
            <li>Privacy Policy</li>
            <li>CCPA Privacy Policy</li>
        </ul>
        <div>
            <p>© C&J SHOEMPIRE International 2023. Clarks and the Clarks logo are registered trademarks of C&J
                SHOEMPIRE
                International Limited.</p>
            <p>C & J SHOEMPIRE America, Inc., 140 Kendrick Street, Needham, MA 02494</p>

            <img src="/front-end/images//discover.png" alt="">
            <img src="/front-end/images//paypal.png" alt="">
            <img src="/front-end/images//Klarna.png" alt="">
            <img src="/front-end/images//mastercard.png" alt="">
            <img src="/front-end/images//visa.png" alt="">
        </div>
    </footer>


</body>

<script>
    let url = 'https://upset-raincoat-newt.cyclic.app/'

    let token = JSON.parse(localStorage.getItem("token"))

    let logInStatus = document.getElementById('logInStatus')

    let user = JSON.parse(localStorage.getItem("user"))
    if (user == "Admin" || user == "user") {
        storeLocator.innerText = "Hey! " + user
        storeLocator.style.color = "#1976D2"
        storeLocator.style.fontWeight = "bold"
        document.getElementById('fa').innerHTML = ""
        document.getElementById('trackOrder').innerText = "Visit User Side !"
        document.getElementById('trackOrder').href = '../product.html'
        document.getElementById('trackOrder').style.color = "#1976D2";
        document.getElementById('trackOrder').style.fontWeight = "bold"
        document.getElementById('fafa').innerHTML = ""

    }


    if (token) {
        logInStatus.innerText = "Sign Out"
        logInStatus.href = "../index.html"
        document.getElementById('fa').innerHTML = ""
    }

    logInStatus.addEventListener("click", (e) => {
        localStorage.removeItem("token")
        localStorage.removeItem("bill");
        localStorage.removeItem("addressData")
        localStorage.removeItem("address");
        return
    })

    let bigContainer = document.getElementById('bigContainer')

    function fetchProducts() {
        fetch(`${url}/order`)
            .then((res) => {
                return res.json();
            }).then((data) => {
                allOrder(data)
            }).catch((err) => {
                console.log(err)
            })
    }

    fetchProducts()


    function allOrder(data) {
        let container = `<div id="container">
                        ${data.map((item) =>
            orderMaker(item.addressDetail, item.bankDetail, item.email, item.userID, item.bill, item.orderItem)
        ).join("")}

        </div>`
        bigContainer.innerHTML = container

    }




    function orderMaker(addressDetail, bankDetail, email, userID, bill, orderItem) {
        let detail = `<div  id="details">  
         <div id="userDetail">
                    <h4>User Details</h4>
                    <span>User ID: <br> ${userID}</span> <br> 
                    <span>Registered Email ID: <br>${email} </span>

                 </div>
                    <div id="addressDetail">
                            <h4>Address Details</h4>
                            <span>Full Name: <br> ${addressDetail.full_name}</span> <br>
                            <span> Full Address : <br> ${addressDetail.full_address}</span> <br>
                            <span>City :  ${addressDetail.city}</span> <br>
                            <span>State :  ${addressDetail.state}</span> <br>
                            <span>Pin : ${addressDetail.pin}</span><br>
                            <span> Mobile : ${addressDetail.mobile}</span><br>
                </div>

                    <div id="accountDetail">
                        <h4>Account Details</h4>
                        <span > Card Holdler : <br>${bankDetail.card_holder}</span><br>
                        <span>Registered Email ID : <br>${bankDetail.email}</span><br>
                        <span>Name on Card : <br>${bankDetail.full_name}</span><br>
                        <span>Card Number :${bankDetail.card_number}</span><br>
                        <span> CVV :${bankDetail.cvv}</span> <br>
                    </div>

                    <div id="orderDetail">
                        <h4>Order Details</h4> 
                        <div>${orderItem.map((item) =>
            itemDetails(item.title)

        ).join("")} </div>
                        
                    </div>

                        <div id="billDetail">
                            <h4>Total Bill</h4>
                            <span>Bill : ${bill} ₹ </span>


                        </div> </div>`
        return detail
    }


    function itemDetails(data) {
        let span = ` <span> title :${data}</span> <br>`
        return span
    }












</script>

</html>