<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.0/jspdf.debug.js"></script>
    <link rel="stylesheet" href="./admincss/admin.users.css">
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <nav class="login_nav">
        <div>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" id="fafa" class="fa">&#xf0d1;</i>
            <a href="" id="trackOrder">Track Order</a>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" id="fa" class="fa">&#xf041;</i>
            <a href="" id="storeLocator">Store Locator</a>
            <i class="fa fa-user" style="font-size:20px; color:#455A64; margin-right: -10px;"></i>
            <a href="./signin.html" id="logInStatus">Log In / Register</a>
        </div>

    </nav>
    <p></p>
    <!--  Main navbar -->

    <nav class="main">
        <div>
            <img src="/front-end/images//gifmaker_me (1).gif" alt="">
            <a href="./admin.product.html">Homepage</a>
            <a href="./admin.product.html">Men</a>
            <a href="./admin.product.html">Woman</a>
            <a href="./orders.html">Orders</a>
            <a href="">Accessories</a>
            <a href="./sale.html">Sales & Revenue</a>
        </div>

        <div class="cart">
            <div>
                <i style="font-size:35px ;" class="fa fa-search"></i>
            </div>
            <div id="cartDiv">
                <a href=""> <i class="fa">&#xf07a;</i></a>
            </div>
        </div>
    </nav>
    <hr>

    <a href="./admin.product.html" id="backTohomepage"> &#8617; Back to Homepage </a>



    <div id="contanier">
        <h1>All Users</h1>

        <table id="recipt">
            <tr id="row">
                <th>Sr. No.</th>
                <th>user ObjectID</th>
                <th>Full Name</th>
                <th>Registered Email</th>
                <th>User Name</th>
                <th>Mobile</th>
                <th>Date of Birth</th>
            </tr>

            <tbody id="elements">

                <!-- append item bill here -->

            </tbody>

        </table>



    </div>







    <!-- footer -->
    <div class="about_section">
        <div>
            <hr>
            <h4>DEPARTMENTS</h4>
            <hr>
            <a href="">Womens</a>
            <a href="">Mens</a>
            <a href="">Originals</a>
            <a href="">Kids</a>
            <a href="">Styles & Stories</a>
            <a href="">Sale</a>
            <a href="">Blog</a>

        </div>


        <div>
            <hr>
            <h4>HELPS</h4>
            <hr>
            <a href="">Product Recall</a>
            <a href="">Customer Service</a>
            <a href="">Shipping & Delivery</a>
            <a href="">Order Lookup</a>
            <a href="">Returns</a>
            <a href="">Compare At Pricing</a>
            <a href="">FAQs</a>
            <a href="">ID.ME FAQs</a>
            <a href="">Accessability</a>
        </div>

        <div>
            <hr>
            <h4>ABOUT SHOEMPIRE</h4>
            <hr>
            <a href="">About Us</a>
            <a href="">Affilate Program</a>
            <a href="">Carrer</a>
            <a href="">California- Do Not Sell my Info</a>
            <a href="">California Supply Chains Act</a>
            <a href="">Corprative Resposibility</a>
            <a href="">Technologies</a>
            <a href="">Cookie Policy</a>

        </div>

        <div>
            <hr>
            <h4>SHOEMPIRE.COM</h4>
            <hr>
            <a href="">Gift Cards</a>
            <a href="">Gift card Balance</a>
            <a href="">Size Guide</a>
            <a href="">Shoe Care Guide</a>
        </div>
    </div>



    <footer>


        <ul class="no-bullets">
            <li>Terms and Conditions</li>
            <li>Privacy Policy</li>
            <li>CCPA Privacy Policy</li>
        </ul>
        <div>
            <p>© C&J SHOEMPIRE International 2023. Clarks and the Clarks logo are registered trademarks of C&J
                SHOEMPIRE
                International Limited.</p>
            <p>C & J SHOEMPIRE America, Inc., 140 Kendrick Street, Needham, MA 02494</p>

            <img src="/front-end/images//discover.png" alt="">
            <img src="/front-end/images//paypal.png" alt="">
            <img src="/front-end/images//Klarna.png" alt="">
            <img src="/front-end/images//mastercard.png" alt="">
            <img src="/front-end/images//visa.png" alt="">
        </div>
    </footer>


</body>

<script>
    let url = 'https://upset-raincoat-newt.cyclic.app/'

    let token = JSON.parse(localStorage.getItem("token"))

    let logInStatus = document.getElementById('logInStatus')

    let user = JSON.parse(localStorage.getItem("username"))

    if (user == "Admin" || user == "user") {
        storeLocator.innerText = "Hey! " + user
        storeLocator.style.color = "#1976D2"
        storeLocator.style.fontWeight = "bold"
        document.getElementById('fa').innerHTML = ""
        document.getElementById('trackOrder').innerText = "Visit User Side !"
        document.getElementById('trackOrder').href = '../product.html'
        document.getElementById('trackOrder').style.color = "#1976D2";
        document.getElementById('trackOrder').style.fontWeight = "bold"
        document.getElementById('fafa').innerHTML = ""

    }

    if (token) {
        logInStatus.innerText = "Sign Out"
        logInStatus.href = "../index.html"

        document.getElementById('fa').innerHTML = ""
    }
    if (!token) {
        document.getElementById('warning').innerText = ""
    }

    logInStatus.addEventListener("click", (e) => {
        localStorage.removeItem("token")
        localStorage.removeItem("bill");
        localStorage.removeItem("addressData")
        localStorage.removeItem("address")
    })




    fetch(`${url}/users`, {
        method: "GET",
        mode: "cors",
        headers: {
            "Content-Type": "application/json"
        }
    })
        .then((res) => {
            return res.json();
        }).then((data) => {
            console.log(data)
            showUsers(data)
        }).catch((err) => {
            console.log(err)
        })

    let Tbody = document.getElementById("elements")

    function showUsers(data) {
        let Serial = 1
        data.forEach((e, index) => {

            let row = document.createElement("tr")

            let Sr = document.createElement("td")
            let userID = document.createElement("td")
            let name = document.createElement("td")
            let email = document.createElement("td")
            let username = document.createElement("td")
            let mobile = document.createElement("td")
            let dob = document.createElement("td")


            Sr.innerText = Serial;
            userID.innerText = e._id;
            name.innerText = e.first_name + " " + e.last_name;
            email.innerText = e.email;
            username.innerText = e.user_name;
            mobile.innerText = e.mobile;
            dob.innerText = e.dob

            row.append(Sr, userID, name, email, username, mobile, dob)
            Tbody.append(row)
            Serial++

            row.setAttribute("id", "row")

        })
    }








</script>

</html>