<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="./css//address.css">
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <nav class="login_nav">
        <div>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" class="fa">&#xf0d1;</i>
            <a href="">Track Order</a>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" id="fa" class="fa">&#xf041;</i>
            <a href="" id="storeLocator">Store Locator</a>
            <i class="fa fa-user" style="font-size:20px; color:#455A64; margin-right: -10px;"></i>
            <a href="./signin.html" id="logInStatus">Log In / Register</a>
        </div>

    </nav>
    <p></p>
    <!--  Main navbar -->

    <nav class="main">
        <div>
            <img src="/front-end/images//gifmaker_me (1).gif" alt="">
            <a href="/front-end//index.html">Hompage</a>
            <a href="./product.html">Woman</a>
            <a href="./product.html">Men</a>
            <a href="./product.html">Kids</a>
            <a href="./product.html">Originals</a>
            <a href="">Accessories</a>
            <a href="">Sale</a>

        </div>

        <div class="cart">
            <div>
                <i style="font-size:35px ;" class="fa fa-search"></i>
            </div>
            <div>
                <a href="./cart.html"> <i style="font-size:35px ; color: white; padding-left: 34%;" class="fa">&#xf07a;
                    </i></a>
            </div>
        </div>
    </nav>
    <hr>

    <a href="./cart.html" id="continueShop"> &#8617; Back to Cart </a>

    <div id="addressContainer">

        <div id="savedAddressContainer">


        </div>


        <!--  append alll address here -->

        <div id="container">
            <h2>Add New Delivery Addresses</h2>
            <form id="address-form">

                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname" required placeholder="fullname">

                <label for="address">Address</label>
                <input type="text" id="address" name="address" required placeholder="Address">

                <label for="city">City</label>
                <input type="text" id="city" name="city" required placeholder="city">

                <label for="state">State</label>
                <input type="text" id="state" name="state" required placeholder="state">

                <label for="Pincode">Pin Code</label>
                <input type="text" id="Pincode" name="Pincode" required placeholder="pincode">

                <label for="MobileNumber">Mobile Number</label>
                <input type="text" id="MobileNumber" name="MobileNumber" required placeholder="10 digit mobile number">
                <button type="submit">Add</button>
            </form>


        </div>


    </div>


    <div class="containerTo">
        <div class="toast" id="toast">
            <i id="icon" class="fas fa-exclamation-circle"></i>
            <p class="toast-text" id="message">Oops, Wrong email or password!</p>
            <p> <a href="" id="linkNext"></a> </p>
            <i class="fas fa-close" id="close"></i>
        </div>

        <!-- <button id="open">Open</button> -->
    </div>








    <!-- footer -->
    <div class="about_section">
        <div>
            <hr>
            <h4>DEPARTMENTS</h4>
            <hr>
            <a href="">Womens</a>
            <a href="">Mens</a>
            <a href="">Originals</a>
            <a href="">Kids</a>
            <a href="">Styles & Stories</a>
            <a href="">Sale</a>
            <a href="">Blog</a>

        </div>


        <div>
            <hr>
            <h4>HELPS</h4>
            <hr>
            <a href="">Product Recall</a>
            <a href="">Customer Service</a>
            <a href="">Shipping & Delivery</a>
            <a href="">Order Lookup</a>
            <a href="">Returns</a>
            <a href="">Compare At Pricing</a>
            <a href="">FAQs</a>
            <a href="">ID.ME FAQs</a>
            <a href="">Accessability</a>


        </div>

        <div>
            <hr>
            <h4>ABOUT SHOEMPIRE</h4>
            <hr>
            <a href="">About Us</a>
            <a href="">Affilate Program</a>
            <a href="">Carrer</a>
            <a href="">California- Do Not Sell my Info</a>
            <a href="">California Supply Chains Act</a>
            <a href="">Corprative Resposibility</a>
            <a href="">Technologies</a>
            <a href="">Cookie Policy</a>

        </div>

        <div>
            <hr>
            <h4>SHOEMPIRE.COM</h4>
            <hr>
            <a href="">Gift Cards</a>
            <a href="">Gift card Balance</a>
            <a href="">Size Guide</a>
            <a href="">Shoe Care Guide</a>
        </div>



    </div>


    <footer>


        <ul class="no-bullets">
            <li>Terms and Conditions</li>
            <li>Privacy Policy</li>
            <li>CCPA Privacy Policy</li>

        </ul>
        <div>
            <p>© C&J SHOEMPIRE International 2023. Clarks and the Clarks logo are registered trademarks of C&J SHOEMPIRE
                International Limited.</p>
            <p>C & J SHOEMPIRE America, Inc., 140 Kendrick Street, Needham, MA 02494</p>

            <img src="/front-end//images/discover.png" alt="">
            <img src="/front-end//images//paypal.png" alt="">
            <img src="/front-end//images//Klarna.png" alt="">
            <img src="/front-end//images//mastercard.png" alt="">

            <img src="/front-end//images//visa.png" alt="">

        </div>


    </footer>



</body>

<script>
    let url = 'https://upset-raincoat-newt.cyclic.app/'

    let token = JSON.parse(localStorage.getItem("token"))

    let logInStatus = document.getElementById('logInStatus')


    //  alert
    const openBtn = document.getElementById("open");
    const toast = document.getElementById("toast");
    const closeBtn = document.getElementById("close");
    let icon = document.getElementById("icon")

    let message = document.getElementById('message')
    let linkNext = document.getElementById('linkNext')


    closeBtn.addEventListener("click", () => {
        toast.classList.remove("active");
    })
    // alert

    if (token) {
        logInStatus.innerText = "Sign Out"
        logInStatus.href = "./index.html"

        document.getElementById('storeLocator').innerText = "Hey! " + JSON.parse(localStorage.getItem("username"))
        document.getElementById('fa').innerHTML = ""
    }
    if (!token) {
        document.getElementById('warning').innerText = ""
    }

    logInStatus.addEventListener("click", (e) => {
        localStorage.removeItem("token")
        localStorage.removeItem("bill");
        localStorage.removeItem("addressData")
        localStorage.removeItem("address")
    })


    const form = document.getElementById('address-form');

    form.addEventListener('submit', function (event) {
        event.preventDefault();
        const full_name = document.getElementById('fullname').value;
        const full_address = document.getElementById('address').value;
        const city = document.getElementById('city').value;
        const state = document.getElementById('state').value;
        const pin = document.getElementById('Pincode').value;
        const mobile = document.getElementById('MobileNumber').value;


        let obj = { full_name, full_address, city, state, pin, mobile }
        console.log(token)
        fetch(`${url}/address/add`, {
            method: "POST",
            mode: "cors",
            headers: {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${token}`
            },
            body: JSON.stringify(obj)
        }).then((res) => {
            return res.json()
        }).then((data) => {
            toast.style.borderLeft = "3px solid #1976D2"
            message.innerText = data.message
            toast.classList.add("active");
            setTimeout(() => {
                toast.classList.remove("active");
            }, 5000)
        }).catch((err) => {
            console.log(err)
        })
    });


    // function fetchProducts() {
    fetch(`${url}/address`, {
        method: "GET",
        mode: "cors",
        headers: {
            "Content-Type": "application/json",
            "Authorization": `Bearer ${token}`
        }

    }).then((res) => {
        return res.json()
    }).then((data) => {
        console.log(data)
        console.log(data)
        if (!data) {
            message.innerText = "Please add an address to continue !"
            toast.classList.add("active");
            setTimeout(() => {
                toast.classList.remove("active");
            }, 5000)
            return
        }
        localStorage.setItem("addressData", JSON.stringify(data))
        showAddress(data)
    }).catch((err) => {
        if (JSON.stringify(err)) {
            message.innerText = "Please add an address to continue !"
            toast.classList.add("active");
            setTimeout(() => {
                toast.classList.remove("active");
            }, 5000)
        }

    })

    // }

    let savedAddressContainer = document.getElementById('savedAddressContainer')



    function showAddress(data) {
        let address_list = `<div class="product-list">
               <h1>Saved Address</h1>
                        ${data.map((item) =>
            formMaker(item.full_name, item.full_address, item.city, item.state, item.pin, item.mobile, item._id)
        ).join("")}

        </div>`

        savedAddressContainer.innerHTML = address_list;
    }

    function formMaker(fullname, fulladdress, city, state, pin, mobile, itemID) {
        let card = `

            <div id="address-form1> 
                <label for="fullname">Full Name</label> <br>
                <input type="text" id="fullname1" name="fullname" required value=${fullname}> <br>

                <label for="address">Address</label><br>
                <input type="text" id="address1" name="address" required value=${fulladdress}> <br>

                <label for="city">City</label><br>
                <input type="text" id="city1" name="city" required value=${city}><br>

                <label for="state">State</label><br>
                <input type="text" id="state1" name="state" required value=${state}><br>

                <label for="Pincode">Pin Code</label><br>
                <input type="text" id="Pincode1" name="Pincode" required value=${pin}><br>

                <label for="MobileNumber">Mobile Number</label><br>
                <input type="text" id="MobileNumber1" name="MobileNumber" required value=${mobile}> <br>
                <button  id="editBtn" >Edit</button>
                <button  id="deleteBtn" >Delete</button>
                <button onclick=useAddress('${itemID}') id="useBtn" >Use Address</button>
                
            </div>`

        return card;
    }

    function useAddress(itemID) {
        let addressData = JSON.parse(localStorage.getItem("addressData"))
        let data = addressData.filter((item) => {
            if (item._id == itemID) {
                localStorage.setItem("address", JSON.stringify(item))

                toast.style.borderLeft = "3px solid #1976D2"
                message.innerText = "redirecting to payment . . ."
                toast.classList.add("active");
                setTimeout(() => {
                    toast.classList.remove("active");
                    window.location = "./checkout.html"
                }, 2000)
            }
        })
    }

</script>

</html>