<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="./css//cart.css">
    <title>shoempire</title>
    <link rel="icon" type="image/x-icon" href="/front-end//images//Empire.png" sizes="30x35">
    <style>

    </style>
</head>

<body>
    <nav class="login_nav">
        <div>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" id="fafa" class="fa">&#xf0d1;</i>
            <a href="" id="trackOrder">Track Order</a>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" id="fa" class="fa">&#xf041;</i>
            <a href="" id="storeLocator">Store Locator</a>
            <i class="fa fa-user" style="font-size:20px; color:#455A64; margin-right: -10px;"></i>
            <a href="./signin.html" id="logInStatus">Log In / Register</a>
        </div>

    </nav>
    <p></p>
    <!--  Main navbar -->

    <nav class="main">
        <div>
            <img src="/front-end/images//gifmaker_me (1).gif" alt="">
            <a href="/front-end//index.html">Hompage</a>
            <a href="./product.html">Woman</a>
            <a href="./product.html">Men</a>
            <a href="./product.html">Kids</a>
            <a href="./product.html">Originals</a>
            <a href="">Accessories</a>
            <a href="">Sale</a>

        </div>

        <div class="cart">
            <div>
                <i style="font-size:35px ;" class="fa fa-search"></i>
            </div>
            <div>
                <i style="font-size:35px" class="fa">&#xf07a;</i>
            </div>
        </div>
    </nav>
    <hr>
    <div style="margin:auto; width: 40%; text-align: center;" id="cartInfo">
        <h2>SHOPPING CART</h2>
        <h4>You have no items in your shopping cart.</h4>
        <h4><a style="text-decoration: none;" href="./product.html">Click here</a> to continue shopping.</h4>
    </div>

    <div style="margin:auto; width: 40%; text-align: center;">
        <h2>SHOPPING CART</h2>
    </div>
    <div style="width:100%; background-color: #B2DFDB;padding-top:10px; padding-bottom: 10px; padding-left: 5%; "
        id="coupen">Coupon
        (Buy3@15%Off) applied
        successfully.</div>

    <a href="./product.html" id="continueShop"> &#8617; Continue Shopping </a>


    <div id="container">




        <div id="productContainer">
            <h3 id="warning">loading . . .</h3>

        </div>
        <div id="bill">
            <div id="total">
                <h3>Subtotal : <span id="cartTotal">0 Rs.</span></h3>
                <span id="discount">please shop above 35000 Rs. to get discount of 20% </span>
                <h3>Order Total : <span id="discountTotal">0 Rs.</span></h3>
                <h4>Click here to Checkout ↓</h4>

                <div id="buyAll"> <a id="checkOut" href="./address.html" style="color: white; text-decoration: none;">
                        Checkout</a></div>
            </div>
        </div>

    </div>






    <!-- footer -->
    <div class="about_section">
        <div>
            <hr>
            <h4>DEPARTMENTS</h4>
            <hr>
            <a href="">Womens</a>
            <a href="">Mens</a>
            <a href="">Originals</a>
            <a href="">Kids</a>
            <a href="">Styles & Stories</a>
            <a href="">Sale</a>
            <a href="">Blog</a>

        </div>


        <div>
            <hr>
            <h4>HELPS</h4>
            <hr>
            <a href="">Product Recall</a>
            <a href="">Customer Service</a>
            <a href="">Shipping & Delivery</a>
            <a href="">Order Lookup</a>
            <a href="">Returns</a>
            <a href="">Compare At Pricing</a>
            <a href="">FAQs</a>
            <a href="">ID.ME FAQs</a>
            <a href="">Accessability</a>


        </div>

        <div>
            <hr>
            <h4>ABOUT SHOEMPIRE</h4>
            <hr>
            <a href="">About Us</a>
            <a href="">Affilate Program</a>
            <a href="">Carrer</a>
            <a href="">California- Do Not Sell my Info</a>
            <a href="">California Supply Chains Act</a>
            <a href="">Corprative Resposibility</a>
            <a href="">Technologies</a>
            <a href="">Cookie Policy</a>

        </div>

        <div>
            <hr>
            <h4>SHOEMPIRE.COM</h4>
            <hr>
            <a href="">Gift Cards</a>
            <a href="">Gift card Balance</a>
            <a href="">Size Guide</a>
            <a href="">Shoe Care Guide</a>
        </div>



    </div>



    <footer>


        <ul class="no-bullets">
            <li>Terms and Conditions</li>
            <li>Privacy Policy</li>
            <li>CCPA Privacy Policy</li>

        </ul>
        <div>
            <p>© C&J SHOEMPIRE International 2023. Clarks and the Clarks logo are registered trademarks of C&J SHOEMPIRE
                International Limited.</p>
            <p>C & J SHOEMPIRE America, Inc., 140 Kendrick Street, Needham, MA 02494</p>

            <img src="/front-end//images/discover.png" alt="">
            <img src="/front-end//images//paypal.png" alt="">
            <img src="/front-end//images//Klarna.png" alt="">
            <img src="/front-end//images//mastercard.png" alt="">

            <img src="/front-end//images//visa.png" alt="">

        </div>



        <div class="containerTo">
            <div class="toast" id="toast">
                <i id="icon" class="fas fa-exclamation-circle"></i>
                <p class="toast-text" id="message">Oops, Wrong email or password!</p>
                <p> <a href="" id="linkNext"></a> </p>
                <i class="fas fa-close" id="close"></i>
            </div>


        </div>


</body>

<script>
    let url = 'https://upset-raincoat-newt.cyclic.app/'

    let token = JSON.parse(localStorage.getItem("token"))

    let logInStatus = document.getElementById('logInStatus')

    let cartInfo = document.getElementById('cartInfo');
    let user = JSON.parse(localStorage.getItem("username"))


    //  alert

    const openBtn = document.getElementById("open");
    const toast = document.getElementById("toast");
    const closeBtn = document.getElementById("close");
    let icon = document.getElementById("icon")

    let message = document.getElementById('message')
    let linkNext = document.getElementById('linkNext')


    closeBtn.addEventListener("click", () => {
        toast.classList.remove("active");
    })
    // alert

    if ((user == "Admin" || user == "user" && token)) {
        logInStatus.href = "/front-end/index.html"
        document.getElementById('trackOrder').style.color = "#1976D2";
        document.getElementById('trackOrder').innerText = "Visit User Side !"
        document.getElementById('trackOrder').href = './admin/admin.product.html'
        // document.getElementById('trackOrder').style.color = "#1976D2";
        // document.getElementById('storeLocator').style.color = "#1976D2";

    }


    if (token) {
        logInStatus.innerText = "Sign Out"
        logInStatus.innerText = "Sign Out"
        logInStatus.href = "/front-end/index.html"

        document.getElementById('storeLocator').style.color = "#1976D2";
        document.getElementById('storeLocator').innerText = "Hey! " + user
        document.getElementById('fa').innerHTML = ""

    }


    logInStatus.addEventListener("click", (e) => {
        localStorage.removeItem("token")
    })

    if (!token) {
        document.getElementById('warning').innerText = ""
        document.getElementById('coupen').innerText = "Nothing to see !"
        document.getElementById('bill').style.display = "none"
        document.getElementById('coupen').style.display = "none"

    }



    let checkOut = document.getElementById("checkOut")

    document.getElementById('buyAll').addEventListener("click", (e) => {
        e.preventDefault();
        let data = JSON.parse(localStorage.getItem("cartItem"))
        if (data.length == 0) {
            checkOut.href = ""
            message.innerText = 'Please add something in cart to checkout !'
            toast.classList.add("active");
            setTimeout(() => {
                toast.classList.remove("active");
            }, 5000)
            return;
        }
        else {
            message.innerText = 'Redirecting to checkout . . .'
            toast.classList.add("active");
            setTimeout(() => {
                toast.classList.remove("active");
                window.location = './address.html'
            }, 2000)

        }

    })



    //  finding individual array of cart

    window.addEventListener("load", (e) => {
        e.preventDefault();
        fetchProducts()

    })

    function fetchProducts() {
        fetch(`${url}/cart`, {
            method: "GET",
            mode: "cors",
            headers: {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${token}`
            }
        }).then((res) => {
            return res.json()
        }).then((data) => {
            localStorage.setItem("cartItem", JSON.stringify(data))
            showData(data)
        }).catch((err) => {
            console.log(err)
        })
    }


    let Total = document.getElementById("cartTotal");
    let discountTotal = document.getElementById("discountTotal")
    let discount = document.getElementById("discount")
    // let BuyBtn = document.getElementById("buyAll")



    let productContainer = document.getElementById('productContainer');


    function showData(data) {
        let product_list = `<div class="product-list" >
                        ${data.map((item) =>
            productMaker(item.title, item.image, item.category, item.gender, item.price, item.rating, item.rating_count, item._id)
        ).join("")}

        </div>`

        productContainer.innerHTML = product_list;
    }

    let totalAmount = 0
    let totalItem = 0
    function productMaker(title, image, category, gender, price, rating, rating_count, itemID) {
        let off = Math.floor((price - 1000) / price * 100)
        let star = ""
        totalAmount += price;
        totalItem++;


        for (let i = 1; i <= rating; i++) {
            star += `<span class="fa fa-star checked"></span>`
        }
        for (let i = 1; i <= (5 - rating); i++) {
            star += `<span class="fa fa-star"></span>`
        }

        let product = `<div class=product id="product" ')>

                    <div> <img class="product_img" src=${image} alt=""></div>

                <div>
                    <h4 class="title">${title}</h4>
                    <p class="category"> Category : ${category}</p>
                    <p class="gender">Gender : ${gender}</p>
                     <p class="items">Gender : 1</p>

                </div>

                    <div style="text-align:center; margin:auto">
                        <button class="decrease" style="font-size:30px">-</button>
                        <p class="quantity"> 1 </p>
                        <button class=increase" style="font-size:30px"  onclick=increaseQuant('${itemID}')>+</button>
                        
                    </div>
                            
                            <div style="text-align:center; margin:auto">
                            <button class="deleteItem" id="deleteItem" onclick=deleteItem('${itemID}')><i class="material-icons">&#xe872;</i></button>
        
                        </div>
                                <div style="text-align:center; margin:auto; margin-left:15%">
                                    <p class="price">Price : ${price} ₹</p>

                                    </div>
                        </div>`

        Total.innerText = totalAmount + "₹"
        if (totalAmount >= 35000) {
            discountTotal.innerText = Math.floor(totalAmount * .80) + "₹"
            localStorage.setItem("bill", JSON.stringify(Math.floor(totalAmount * 0.80)))
            discount.innerText = `Buy${totalItem}@20%Off: ${totalAmount - Math.floor(totalAmount * 0.80)}`

        }
        else {
            discountTotal.innerText = totalAmount + "₹"
            localStorage.setItem("bill", JSON.stringify(totalAmount))
        }

        return product;
    }

    //  quantity data ;

    function increaseQuant(itemID) {


        for (let i = 0; i < data.length; i++) {
            if (data[i]._id == itemID) {
                if (!data[i].quantity) {
                    data[i].quantity = 1;
                }
                else if (data[i].quantity) {

                }


            }


        }
    }


    //  function delete item

    function deleteItem(ID) {
        if (!token) {

            message.innerText = 'Please login / register first to add in cart'
            toast.classList.add("active");
            setTimeout(() => {
                toast.classList.remove("active");
            }, 5000)

        }
        fetch(`${url}/cart/remove/${ID}`, {
            method: "PATCH",
            mode: "cors",
            headers: {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${token}`
            }
        }).then((res) => {
            return res.json()
        }).then((data) => {
            toast.style.borderLeft = "3px solid #1976D2"
            message.innerText = data.message
            toast.classList.add("active");
            setTimeout(() => {
                toast.classList.remove("active");
            }, 5000)
            fetchProducts()
        }).catch((err) => {
            console.log(err)
        })
        event.stopPropagation()
    }




</script>

</html>