<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/index.css">

</head>

<body>

    <nav class="spring">
        S P R I N G H A S S P R U N G ! <span>2 5 % O F F S E L E C T S T Y L E S *</span> U S E C O D E: S P R I N G 2
        5

    </nav>


    <nav class="login_nav">
        <div>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" class="fa">&#xf0d1;</i>
            <a href="">Track Order</a>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" class="fa">&#xf041;</i>
            <a href="">Store Locator</a>
            <i class="fa fa-user" style="font-size:20px; color:#455A64; margin-right: -10px;"></i>
            <a href="./signin.html">Log In / Register</a>
        </div>

    </nav>

    <!--  Main navbar -->

    <nav class="main">
        <div>
            <img src="../images//gifmaker_me (1).gif" alt="">
            <a href="./product.html">Woman</a>
            <a href="./product.html">Men</a>
            <a href="./product.html">Kids</a>
            <a href="./product.html">Originals</a>
            <a href="./product.html">Accessories</a>
            <a href="./product.html">Sale</a>
            <a href="./product.html">Sustainability</a>
        </div>

        <div class="cart">
            <div>
                <i id="fa" class="fa fa-search"></i>
            </div>
            <div>
                <i id="fa" class="fa">&#xf07a;</i>

            </div>
        </div>
    </nav>

    <nav class="spring2">
        FREE SHIPPING <span>ON ORDERS OVER $50 | </span> FREE RETURN EVERYDA Y
        5

    </nav>
    <img class="sandle_image"
        src="https://clarks.scene7.com/is/image/Pangaea2Build/SandalShop_W_KimmeiHi_DesktopBanner_1500x500px?fmt=webp&wid=1500"
        alt="https://clarks.scene7.com/is/image/Pangaea2Build/SandalShop_W_KimmeiHi_DesktopBanner_1500x500px?fmt=webp&wid=1500">

    <div class="statement">

        <h2>STATEMENT-MAKING SANDALS</h2>
        <P>Fashion and funtion make this a sabdal you'll be wearing on repear ! Our syper- <br>
            versatile staples are made for wearing everywhere, with everything this season.
        </P>
        <div>
            <div>
                <p>Shop All Women's Sandals</p>
            </div>
            <div>
                <p>Shop Kimmei Hi Strap</p>

            </div>

        </div>

    </div>


    <div class="two_box">
        <div>
            <img src="https://clarks.scene7.com/is/image/Pangaea2Build/BAN18_19W_ElleriRaeTabletBanner_705x395px_V2?fmt=webp&wid=705"
                alt="https://clarks.scene7.com/is/image/Pangaea2Build/BAN18_19W_ElleriRaeTabletBanner_705x395px_V2?fmt=webp&wid=705">
            <h2>UPGRADE YOUR STYLE, FREE YOUR FEET</h2>
            <p>Fall head over heels for wedge sandal Elleri Rae and elevate this year's warm-weather wardrobe with
                comfortable,
                on-trend silhouettes that boost your unique style as much as your every step.</p>
            <button>
                Shop Women's wedge Snadals
            </button>
            <button>Shop Woman's Sandlas</button>
        </div>

        <div>
            <img src="https://clarks.scene7.com/is/image/Pangaea2Build/BAN18_19_M_GorskyStepTabletBanner705x705px?fmt=webp&wid=705"
                alt="https://clarks.scene7.com/is/image/Pangaea2Build/BAN18_19_M_GorskyStepTabletBanner705x705px?fmt=webp&wid=705">
            <h2>LAID-BACK SUMMER STYLE. </h2>

            <p>Slip-on-and-go with the Gorsky Step. This lightweight style is unlined for a breathable, barefoot feel
                with a supportive
                Contour Cushion footbed for immediate comfort.</p>
            <button>
                Shop Men's Summer Collection
            </button>
            <button>Shop Men's Casual Styles</button>
        </div>

    </div>

    <img class="sandle_image2"
        src="https://clarks.scene7.com/is/image/Pangaea2Build/BAN_WKs18_19W_BrinkleyFlora_NeonCoral_DesktopBanner_1500x500px_Watermarked?fmt=webp&wid=1500"
        alt="https://clarks.scene7.com/is/image/Pangaea2Build/BAN_WKs18_19W_BrinkleyFlora_NeonCoral_DesktopBanner_1500x500px_Watermarked?fmt=webp&wid=1500">


    <div class="set_your">

        <h2>SET YOUR SOLE FREE THIS SUMMER!</h2>
        <p>Pack light, step lighter. The Cloudsteppers™ Brinkley Flora flip-flop comes <br> in coral for a look and feel
            that's as light
            and bright as summer should be.</p>
        <div>
            <div>
                <p>Shop All Women's Sandals</p>
            </div>
            <div>
                <p>Shop Kimmei Hi Strap</p>

            </div>

        </div>

    </div>


    <div class="buy_now">
        <span>Buy now. Pay Later. with KIarna. <a href="">Find out more</a> </span>
    </div>

    <!-- footer -->
    <div class="about_section">
        <div>
            <hr>
            <h4>DEPARTMENTS</h4>
            <hr>
            <a href="">Womens</a>
            <a href="">Mens</a>
            <a href="">Originals</a>
            <a href="">Kids</a>
            <a href="">Styles & Stories</a>
            <a href="">Sale</a>
            <a href="">Blog</a>

        </div>


        <div>
            <hr>
            <h4>HELPS</h4>
            <hr>
            <a href="">Product Recall</a>
            <a href="">Customer Service</a>
            <a href="">Shipping & Delivery</a>
            <a href="">Order Lookup</a>
            <a href="">Returns</a>
            <a href="">Compare At Pricing</a>
            <a href="">FAQs</a>
            <a href="">ID.ME FAQs</a>
            <a href="">Accessability</a>


        </div>

        <div>
            <hr>
            <h4>ABOUT SHOEMPIRE</h4>
            <hr>
            <a href="">About Us</a>
            <a href="">Affilate Program</a>
            <a href="">Carrer</a>
            <a href="">California- Do Not Sell my Info</a>
            <a href="">California Supply Chains Act</a>
            <a href="">Corprative Resposibility</a>
            <a href="">Technologies</a>
            <a href="">Cookie Policy</a>

        </div>

        <div>
            <hr>
            <h4>SHOEMPIRE.COM</h4>
            <hr>
            <a href="">Gift Cards</a>
            <a href="">Gift card Balance</a>
            <a href="">Size Guide</a>
            <a href="">Shoe Care Guide</a>

        </div>



    </div>


    <footer>


        <ul class="no-bullets">
            <li>Terms and Conditions</li>
            <li>Privacy Policy</li>
            <li>CCPA Privacy Policy</li>

        </ul>
        <div>
            <p>© C&J Clark International 2023. Clarks and the Clarks logo are registered trademarks of C&J Clark
                International Limited.</p>
            <p>C & J Clark America, Inc., 140 Kendrick Street, Needham, MA 02494</p>

            <img src="../images//discover.png" alt="">
            <img src="../images//paypal.png" alt="">
            <img src="../images//Klarna.png" alt="">
            <img src="../images//mastercard.png" alt="">

            <img src="../images/visa.png" alt="">

        </div>


    </footer>


</body>
<script>
</script>

</html>