<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="./css//product.css">
    <title>Document</title>

</head>

<body>
    <nav class="spring">
        S P R I N G H A S S P R U N G ! <span>2 5 % O F F S E L E C T S T Y L E S *</span> U S E C O D E: S P R I N G 2
        5

    </nav>


    <nav class="login_nav">
        <div>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" id='fafa' class="fa">&#xf0d1;</i>
            <a href="" id="trackOrder">Track Order</a>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" id='fa' class="fa">&#xf041;</i>
            <a href="" id="storeLocator">Store Locator</a>
            <i class="fa fa-user" style="font-size:20px; color:#455A64; margin-right: -10px;"></i>
            <a href="../views/signin.html" id="logInStatus">Log In / Register</a>
        </div>

    </nav>
    <p></p>
    <!--  Main navbar -->

    <nav class="main">
        <div>
            <img src="../images//gifmaker_me (1).gif" alt="">
            <a href="">Woman</a>
            <a href="">Men</a>
            <a href="">Kids</a>
            <a href="">Originals</a>
            <a href="">Accessories</a>
            <a href="">Sale</a>
            <a href="./orders.html">Your Orders</a>
        </div>

        <div class="cart">
            <div>
                <i class="fa fa-search"></i>
            </div>
            <div>
                <a href="./cart.html"><i class="fa" style="color: white;">&#xf07a; </i></a>
            </div>
        </div>
    </nav>

    <nav class="spring2">
        FREE SHIPPING | <span>ON ORDER OVER 15000 FREE RETURN </span> | EVERY DAY </nav>

    <!--  container -->
    <hr>
    <div id="search_bar">
        <span style="margin-left: 5%; font-weight: bold;">Search By : </span>
        <select name="search" id="search">
            <option value="material">Material</option>
            <option value="gender">Gender</option>
            <option value="category">Category</option>
        </select>

        <input type="text" id="search_box" placeholder="write something here . . .">
        <button id="search_button">search</button>

        <span style="margin-left: 5%; font-weight: bold;">Sort By : </span>
        <select name="sort" id="sort" style="width:250px; height: 40px; font-weight: bold;">
            <option value="">relevance</option>
            <option value="priceLowToHigh">Price (Low to High)</option>
            <option value="priceHighToLow">Price (High to Low)</option>
            <option value="date">Newest to Oldest </option>
        </select>

    </div>
    <hr>
    <div id="container">


        <div class="filter-div">

            <div id="refine">
                <p>:: REFINE BY</p>
            </div>

            <div id="gender">
                <p>: GENDER</p>
            </div>

            <div class="genderInp">
                <p><input type="checkbox" value="All">All</p>
                <p><input type="checkbox" value="Male">Men</p>
                <p><input type="checkbox" value="Female">Women</p>

            </div>


            <div id="category">
                <p>: CATEGORY</p>
            </div>
            <div class="categoryInp">
                <p><input type="checkbox" value="Formal">Formal</p>
                <p><input type="checkbox" value="Casual">Casual</p>
                <p><input type="checkbox" value="Sport">Sports</p>

            </div>




            <div id="style">
                <p>: STYLE</p>
            </div>

            <div class="styleInp">
                <p><input type="checkbox" value="Shoe">Shoes</p>
                <p><input type="checkbox" value="Sandals">Sandals</p>
                <p><input type="checkbox" value="Boot">Boots</p>
            </div>



            <div id="material">
                <p>: MATERIAL</p>
            </div>

            <div class="materialInp">
                <p><input type="checkbox" value="Leather">Leather</p>
                <p><input type="checkbox" value="Nubuck">Nubuck</p>
                <p><input type="checkbox" value="Textile">Textile</p>
                <p><input type="checkbox" value="Suede">Suede</p>
                <p><input type="checkbox" value="Synthetic">Synthetic</p>
            </div>



            <div id="price">
                <p>: PRICE</p>
            </div>

            <div class="priceInp">
                <p><input type="checkbox" value="5000">Between 5000 to 6500 Rs.</p>
                <p><input type="checkbox" value="6500">Between 6500 to 8000 Rs.</p>
                <p><input type="checkbox" value="8000">Between 8000 to 9500 Rs.</p>
                <p><input type="checkbox" value="9500">Between 9500 to 11000 Rs.</p>
                <p><input type="checkbox" value="11000">Above 11000 Rs.</p>
            </div>




            <div id="rating">
                <p>: RATING</p>
            </div>

            <div class="ratingInp">
                <p><input type="checkbox" value="3"><i class="fa fa-star checked"></i><i
                        class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i></p>
                <p><input type="checkbox" value="4"><i class="fa fa-star checked"></i><i
                        class="fa fa-star checked"></i><i class="fa fa-star checked"><i class="fa fa-star checked"></i>
                    </i><i class="fa fa-star"></i></p>
                <p><input type="checkbox" value="5"><i class="fa fa-star checked"></i><i
                        class="fa fa-star checked"></i><i class="fa fa-star checked"><i
                            class="fa fa-star checked"></i><i class="fa fa-star checked"></i>
                    </i></p>
            </div>


        </div>

        <div id="productContainer">
            <h3 id="warning">loading . . .</h3>

        </div>


    </div>



    </div>

    <!-- footer -->
    <div class="about_section">
        <div>
            <hr>
            <h4>DEPARTMENTS</h4>
            <hr>
            <a href="">Womens</a>
            <a href="">Mens</a>
            <a href="">Originals</a>
            <a href="">Kids</a>
            <a href="">Styles & Stories</a>
            <a href="">Sale</a>
            <a href="">Blog</a>

        </div>


        <div>
            <hr>
            <h4>HELPS</h4>
            <hr>
            <a href="">Product Recall</a>
            <a href="">Customer Service</a>
            <a href="">Shipping & Delivery</a>
            <a href="">Order Lookup</a>
            <a href="">Returns</a>
            <a href="">Compare At Pricing</a>
            <a href="">FAQs</a>
            <a href="">ID.ME FAQs</a>
            <a href="">Accessability</a>


        </div>

        <div>
            <hr>
            <h4>ABOUT SHOEMPIRE</h4>
            <hr>
            <a href="">About Us</a>
            <a href="">Affilate Program</a>
            <a href="">Carrer</a>
            <a href="">California- Do Not Sell my Info</a>
            <a href="">California Supply Chains Act</a>
            <a href="">Corprative Resposibility</a>
            <a href="">Technologies</a>
            <a href="">Cookie Policy</a>

        </div>

        <div>
            <hr>
            <h4>SHOEMPIRE.COM</h4>
            <hr>
            <a href="">Gift Cards</a>
            <a href="">Gift card Balance</a>
            <a href="">Size Guide</a>
            <a href="">Shoe Care Guide</a>

        </div>



    </div>


    <footer>


        <ul class="no-bullets">
            <li>Terms and Conditions</li>
            <li>Privacy Policy</li>
            <li>CCPA Privacy Policy</li>

        </ul>
        <div>
            <p>© C&J SHOEMPIRE International 2023. Clarks and the Clarks logo are registered trademarks of C&J SHOEMPIRE
                International Limited.</p>
            <p>C & J SHOEMPIRE America, Inc., 140 Kendrick Street, Needham, MA 02494</p>

            <img src="../images//discover.png" alt="">
            <img src="../images//paypal.png" alt="">
            <img src="../images//Klarna.png" alt="">
            <img src="../images//mastercard.png" alt="">

            <img src="../images/visa.png" alt="">

        </div>


    </footer>



    <button onclick="topFunction()" id="myBtn" title="Go to top">&#x21ee;</button>

    <div class="containerTo">
        <div class="toast" id="toast">
            <i id="icon" class="fas fa-exclamation-circle"></i>
            <p class="toast-text" id="message">Oops, Wrong email or password!</p>
            <p> <a href="" id="linkNext"></a> </p>
            <i class="fas fa-close" id="close"></i>
        </div>

        <button id="open">Open</button>
    </div>

</body>

<script>

    let token = JSON.parse(localStorage.getItem("token"))
    let logInStatus = document.getElementById('logInStatus')

    let storeLocator = document.getElementById('storeLocator')

    //  alert
    const openBtn = document.getElementById("open");
    const toast = document.getElementById("toast");
    const closeBtn = document.getElementById("close");
    let icon = document.getElementById("icon")
    let message = document.getElementById('message')
    let linkNext = document.getElementById('linkNext')

    closeBtn.addEventListener("click", () => {
        toast.classList.remove("active");
    })
    // alert

    let user = JSON.parse(localStorage.getItem("username"))
    if (user == "Admin" || user == "user") {
        storeLocator.innerText = "Hey! " + user
        storeLocator.style.color = "#1976D2"
        storeLocator.style.fontWeight = "bold"
        document.getElementById('fa').innerHTML = ""
        document.getElementById('trackOrder').innerText = "Visit Admin Side !"
        document.getElementById('trackOrder').href = './admin/admin.product.html'
        document.getElementById('trackOrder').style.color = "#1976D2";
        document.getElementById('trackOrder').style.fontWeight = "bold"
        document.getElementById('fafa').innerHTML = ""
        logInStatus.innerText = "Sign Out"
        logInStatus.href = "./index.html"

    }

    else if (token) {
        logInStatus.innerText = "Sign Out"
        logInStatus.href = "./index.html"
        storeLocator.innerText = "Hey! " + JSON.parse(localStorage.getItem("username"))
        document.getElementById('fa').innerHTML = ""
    }
    logInStatus.addEventListener("click", (e) => {
        localStorage.removeItem("token")
    })


    let url = "http://localhost:8080"

    fetch(`${url}/products`)
        .then((res) => {
            return res.json();
        }).then((data) => {
            showData(data)
            filterData(data)
        }).catch((err) => {
            console.log(err)
        })

    //  All products containining here
    let productContainer = document.getElementById('productContainer');
    function showData(data) {
        let product_list = `<div class="product-list" >
                        ${data.map((item) =>
            productMaker(item.title, item.image, item.category, item.gender, item.price, item.rating, item.rating_count, item._id)
        ).join("")}

        </div>`
        productContainer.innerHTML = product_list;
    }

    //  Small card 
    function productMaker(title, image, category, gender, price, rating, rating_count, itemID) {
        let off = Math.floor((price - 1000) / price * 100)
        let star = ""

        for (let i = 1; i <= rating; i++) {
            star += `<span class="fa fa-star checked"></span>`
        }
        for (let i = 1; i <= (5 - rating); i++) {
            star += `<span class="fa fa-star"></span>`
        }

        let product = `<div class=product onclick=productDetails('${itemID}')>
            <span class="off">${100 - off} % off</span>
        <img class="product_img" src=${image} alt="">
        <h4 class="title">${title}</h4>
        <p class="category"> Category : ${category}</p>

        <p class="gender">Gender : ${gender}</p>
        <p class="price">Price : ${price} ₹</p>
        <p class="rating">Rating : ${star}</p>
   
        <p class="rating_count">Review : ${rating_count}</p>
        <button class="add" id="add" onclick=addToCart('${itemID}')>Add to card</button>
         <button class="buy" id="buy">Buy</button>
            
    </div>`
        return product;
    }

    //  add to cart function 
    function addToCart(ID) {
        if (!token) {
            message.innerText = `please login / register first to add in cart`
            toast.classList.add("active");
            setTimeout(() => {
                toast.classList.remove("active");
            }, 5000)
            // alert("please login / register first to add in cart")
            return;
        }
        fetch(`${url}/cart/${ID}`, {
            method: "POST",
            mode: "cors",
            headers: {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${token}`
            }
        }).then((res) => {
            return res.json()
        }).then((data) => {
            // alert(data.message)
            toast.style.borderLeft = "3px solid #1976D2"
            message.innerText = data.message
            toast.classList.add("active");
            setTimeout(() => {
                toast.classList.remove("active");
            }, 5000)
        }).catch((err) => {
            console.log(err)
        })

        event.stopPropagation()
    }


    //   get the individual product for description 
    function productDetails(id) {
        console.log(id)
        fetch(`${url}/products/${id}`)
            .then((res) => {
                return res.json();
            }).then((data) => {
                console.log(data)
            }).catch((err) => {
                console.log(err)
            })
    }


    //  filter and sort function -------->>>>>>>>>>>>>

    let Gender = document.querySelectorAll(".genderInp input")
    let Rating = document.querySelectorAll(".ratingInp input")
    let Price = document.querySelectorAll(".priceInp input")
    let Material = document.querySelectorAll(".materialInp input")
    let Style = document.querySelectorAll(".styleInp input")
    let Category = document.querySelectorAll(".categoryInp input")

    function filterData(product) {
        for (let i = 0; i < Gender.length; i++) {
            Gender[i].checked = false
            Gender[i].addEventListener("change", () => {
                productContainer.innerHTML = ""
                let genderData = product.filter((element) => {
                    if (element.gender == Gender[i].value) {
                        // console.log(element)
                        return element
                    }
                })
                showData(genderData)
                if (Gender[i].value == "All") {
                    showData(product)

                }

            })
        }

        for (let i = 0; i < Rating.length; i++) {

            Rating[i].addEventListener("change", () => {
                productContainer.innerHTML = ""
                // if (Rating[i].value == 3) {
                let raitngData = product.filter((element) => {
                    if (element.rating == Rating[i].value) {
                        return element
                    }
                })
                showData(raitngData)

            })
        }


        //  price filte 

        for (let i = 0; i < Price.length; i++) {

            Price[i].addEventListener("change", () => {
                productContainer.innerHTML = ""
                if (Price[i].value == 5000) {
                    let lowPrice = product.filter((element) => {
                        if (element.price >= 1000 && element.price < 6500) {
                            return element
                        }
                    })
                    showData(lowPrice)
                }
                else if (Price[i].value == 6500) {

                    let mediumPrice = product.filter((element) => {
                        if (element.price >= 6500 && element.price < 8000) {
                            return element
                        }
                    })
                    showData(mediumPrice)
                }
                else if (Price[i].value == 8000) {
                    let highPrice = product.filter((element) => {
                        if (element.price >= 8000 && element.price < 9500) {
                            return element
                        }
                    })
                    showData(highPrice)
                }
                else if (Price[i].value == 9500) {
                    let highPrice = product.filter((element) => {
                        if (element.price >= 9500 && element.price < 11000) {
                            return element
                        }
                    })
                    showData(highPrice)
                }
                else if (Price[i].value == 11000) {
                    let highPrice = product.filter((element) => {
                        if (element.price >= 11000) {
                            return element
                        }
                    })
                    showData(highPrice)
                }

            })
        }

        //  categoru inp

        for (let i = 0; i < Category.length; i++) {

            Category[i].addEventListener("change", () => {
                productContainer.innerHTML = ""
                let categoryData = product.filter((element) => {

                    if (element.category == Category[i].value) {
                        return element
                    }
                })
                showData(categoryData)

            })
        }

        //  filter by style
        for (let i = 0; i < Style.length; i++) {

            Style[i].addEventListener("change", () => {
                productContainer.innerHTML = ""
                let styleData = product.filter((element) => {

                    if (element.style == Style[i].value) {
                        return element
                    }
                })
                showData(styleData)

            })
        }

        //  filter by materials

        for (let i = 0; i < Material.length; i++) {

            Material[i].addEventListener("change", () => {
                productContainer.innerHTML = ""
                let styleData = product.filter((element) => {

                    if (element.material == Material[i].value) {
                        return element
                    }
                })
                showData(styleData)

            })
        }


        //  filter funtion Ends here


        let sortBy = document.getElementById('sort');
        sortBy.addEventListener("change", () => {
            if (sortBy.value == "priceLowToHigh") {
                let data = product.sort((a, b) => {
                    return a.price - b.price
                });
                showData(data)
            }
            else if (sortBy.value == "priceHighToLow") {

                let data = product.sort((a, b) => {
                    return b.price - a.price
                });
                showData(data)
            }

        })


    }

    let sortBy = document.getElementById('sort');
    sortBy.addEventListener("change", () => {

        if (sortBy.value == "date") {
            fetch(`${url}/products/?sort_arival=asc`)
                .then((res) => {
                    return res.json();
                }).then((data) => {
                    showData(data)
                    filterData(data)
                }).catch((err) => {
                    console.log(err)
                })
        }


    })

    //  serarch functionality 

    let searchBy = document.getElementById("search")
    let searchBox = document.getElementById("search_box")
    let searchBtn = document.getElementById("search_button")


    searchBox.addEventListener("keypress", searchData)
    searchBtn.addEventListener("click", searchData)

    let timeOut;
    let count = 0;

    searchBox.addEventListener("input", function () {
        count = searchBox.value.length;
        console.log("Total count of characters:", count);
    });


    function searchData(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            searchBtn.click();
            fetch(`${url}/products/?search=${searchBox.value}`)
                .then((res) => {
                    return res.json();
                }).then((data) => {
                    showData(data)
                    filterData(data)
                }).catch((err) => {
                    // alert(`Nothing found. Please try something else !  `)
                    console.log(err)
                })
        }
        else {
            clearTimeout(timeOut)
            timeOut = setTimeout(function () {
                fetch(`${url}/products/?search=${searchBox.value}`)
                    .then((res) => {
                        return res.json();
                    }).then((data) => {
                        showData(data)
                        filterData(data)
                    }).catch((err) => {
                        // alert(`Nothing found. Please try something else !  `)
                        console.log(err)
                    })
            }, 1000);
        }
    }

    //  scroll function ;
    let mybutton = document.getElementById("myBtn");
    window.onscroll = function () { scrollFunction() };
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }







</script>

</html>