<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <title>shoempire</title>
    <link rel="icon" type="image/x-icon" href="/front-end//images//Empire.png" sizes="30x35">
    <link rel="stylesheet" href="./css//signup.css">
    <style>
    </style>
</head>

<body>

    <nav class="spring">
        S P R I N G H A S S P R U N G ! <span>2 5 % O F F S E L E C T S T Y L E S *</span> U S E C O D E: S P R I N G 2
        5

    </nav>


    <nav class="login_nav">
        <div>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" class="fa">&#xf0d1;</i>
            <a href="">Track Order</a>
            <i style="font-size:20px; color:#455A64; margin-right: -10px;" class="fa">&#xf041;</i>
            <a href="">Store Locator</a>
            <i class="fa fa-user" style="font-size:20px; color:#455A64; margin-right: -10px;"></i>
            <a href="">Log In / Register</a>
        </div>

    </nav>

    <!--  Main navbar -->

    <nav class="main">
        <div>
            <img src="/front-end//images//gifmaker_me (1).gif" alt="">
            <a href="">Woman</a>
            <a href="">Men</a>
            <a href="">Kids</a>
            <a href="">Originals</a>
            <a href="">Accessories</a>
            <a href="">Sale</a>
            <a href="">Sustainability</a>
        </div>

        <div class="cart">
            <div>
                <i style="font-size:35px ;" class="fa fa-search"></i>
            </div>
            <div>
                <i style="font-size:35px" class="fa">&#xf07a;</i>

            </div>
        </div>
    </nav>
    <hr>
    <h1 style="margin-left: 2%; font-size: 35px;  color: #37474F;">CREATE AN ACCOUNT</h1>
    <hr>




    <div class="form">
        <form action="POST">

            <span>Email addess</span> <br>
            <input type="text"> <br>

            <span>First Name</span> <br>
            <input type="text"> <br>

            <span>Last Name</span> <br>
            <input type="text"> <br>

            <span>Date Of Birth</span> <br>
            <input type="date"> <br>

            <span>Mobile Number</span> <br>
            <input type="tel" size="10" minlength="10" maxlength="10"> <br>

            <span>User Name</span> <br>
            <input type="text" minlength="8" maxlength="14"> <br>

            <span>Password</span><br>
            <input type="text" minlength="8" maxlength="14"> <br>
            <button id="submit">CREATE AN ACCOUNT </button>
            <p> Already have an Account? <a href="./signin.html">Log In</a></p>

        </form>

    </div>
    <div class="container">
        <div class="toast" id="toast">
            <i id="icon" class="fas fa-exclamation-circle"></i>
            <p class="toast-text" id="message">Oops, Wrong email or password!</p>
            <p> <a href="" id="linkNext"></a> </p>
            <i class="fas fa-close" id="close"></i>
        </div>
    </div>





    <!-- footer -->
    <div class="about_section">
        <div>
            <hr>
            <h4>DEPARTMENTS</h4>
            <hr>
            <a href="">Womens</a>
            <a href="">Mens</a>
            <a href="">Originals</a>
            <a href="">Kids</a>
            <a href="">Styles & Stories</a>
            <a href="">Sale</a>
            <a href="">Blog</a>

        </div>

        <div>
            <hr>
            <h4>HELPS</h4>
            <hr>
            <a href="">Product Recall</a>
            <a href="">Customer Service</a>
            <a href="">Shipping & Delivery</a>
            <a href="">Order Lookup</a>
            <a href="">Returns</a>
            <a href="">Compare At Pricing</a>
            <a href="">FAQs</a>
            <a href="">ID.ME FAQs</a>
            <a href="">Accessability</a>


        </div>

        <div>
            <hr>
            <h4>ABOUT SHOEMPIRE</h4>
            <hr>
            <a href="">About Us</a>
            <a href="">Affilate Program</a>
            <a href="">Carrer</a>
            <a href="">California- Do Not Sell my Info</a>
            <a href="">California Supply Chains Act</a>
            <a href="">Corprative Resposibility</a>
            <a href="">Technologies</a>
            <a href="">Cookie Policy</a>

        </div>

        <div>
            <hr>
            <h4>SHOEMPIRE.COM</h4>
            <hr>
            <a href="">Gift Cards</a>
            <a href="">Gift card Balance</a>
            <a href="">Size Guide</a>
            <a href="">Shoe Care Guide</a>

        </div>



    </div>


    <footer>


        <ul class="no-bullets">
            <li>Terms and Conditions</li>
            <li>Privacy Policy</li>
            <li>CCPA Privacy Policy</li>

        </ul>
        <div>
            <p>© C&J Clark International 2023. Clarks and the Clarks logo are registered trademarks of C&J Clark
                International Limited.</p>
            <p>C & J Clark America, Inc., 140 Kendrick Street, Needham, MA 02494</p>

            <img src="/front-end//images/discover.png" alt="">
            <img src="/front-end//images//paypal.png" alt="">
            <img src="/front-end//images//Klarna.png" alt="">
            <img src="/front-end//images//mastercard.png" alt="">

            <img src="/front-end//images//visa.png" alt="">


        </div>


    </footer>




</body>
<script>

    let url = 'https://upset-raincoat-newt.cyclic.app/'
    let form = document.querySelector('form');
    let submit = document.getElementById("submit")

    const openBtn = document.getElementById("open");
    const toast = document.getElementById("toast");
    const closeBtn = document.getElementById("close");
    let icon = document.getElementById("icon")

    let message = document.getElementById('message')
    let linkNext = document.getElementById('linkNext')
    closeBtn.addEventListener("click", () => {
        toast.classList.remove("active");
    })

    submit.addEventListener("click", (e) => {
        e.preventDefault()
        let email = form[0].value;
        let first_name = form[1].value;
        let last_name = form[2].value;
        let dob = form[3].value;
        let mobile = form[4].value;
        let user_name = form[5].value;
        let password = form[6].value
        let obj = { email, first_name, last_name, dob, mobile, user_name, password }
        if (!email || !first_name || !last_name || !dob || !mobile || !user_name || !password) {
            message.innerText = `Please fill all the details !`
            toast.classList.add("active");
            setTimeout(() => {
                toast.classList.remove("active");
            }, 5000)
            return
        }
        fetch(`${url}/signup`, {
            method: "POST",
            mode: "cors",
            body: JSON.stringify(obj),
            headers: {
                "Content-Type": "application/json"
            }
        }).then((res) => {
            return res.json();
        }).then((data) => {
            console.log(data)
            alert(`${data.message}`)
            toast.style.borderLeft = "3px solid #1976D2"
            message.innerText = data.message
            linkNext.href = "./signin.html";
            linkNext.innerText = 'redirecting to signin page . . .'
            toast.classList.add("active");
            setTimeout(() => {
                toast.classList.remove("active");
                window.location = './signin.html'
            }, 5000)

        }).catch((err) => {
            console.log(err)
        })
    })
</script>

</html>