* {
    font-family: 'Montserrat';
}

.spring {
    width: 100%;
    margin-top: auto;
    margin-top: -1%;
    background-color: #87B3D4;
    text-align: center;
    font-family: 'Montserrat';
    padding: .5%;

}

.spring span {
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
}

.login_nav {
    width: 100%;
    height: 45px;
    margin: auto;
    padding: auto;
    background-color: #F3F3F3;
    display: flex;
    justify-content: end;
    align-items: center;

}

.login_nav div {
    width: 35%;
    padding-right: 1%;
    color: #37474F;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    ;
}

.login_nav div a {
    text-decoration: none;
    color: #37474F;
}


/*  Main nav bar */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main img {
    width: 10%;
}

.main div {
    display: flex;
    align-items: center;
}

.main a {
    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;
    color: #37474F;
}

.main a:hover {
    margin-left: 1%;
    margin-right: 1%;
    font-weight: bold;
    color: #263238;
}

.cart {

    margin-right: 1%;
    width: 20%;
    height: 65px;
    text-align: center;
    margin: auto;
}

.cart div i {
    margin: auto;
}

.cart div:nth-child(1) {
    border: 1px solid #1976D2;
    width: 50%;
    height: 65px;
    margin: auto;
    padding: auto;
}

.cart div:nth-child(2) {
    background-color: #1976D2;
    width: 50%;
    height: 65px;

}

#fa {
    font-size: 35px
}

.spring2 {

    margin-top: auto;
    background-color: #dcdcdc;
    font-size: 16px;
    text-align: center;
    padding: 1%;

}

/*  Body  */
.sandle_image {
    width: 100%;
    margin: auto;
    margin-top: 1%;
    padding: auto;
}

/*  Spring in the air  */
.statement {
    width: 100%;
    margin: auto;
    /* padding-top: 3%;
            padding-bottom: 3%; */
    text-align: center;

}

.statement div {
    width: 60%;
    box-sizing: border-box;
    display: flex;
    margin: auto;

}

.statement div div {
    box-sizing: border-box;
    border-radius: 2px;
    margin: auto;
    margin-left: 5%;
    text-align: center;
    background-color: #B2FF59;
    padding-left: 10%;
}

/* two box partition */
.two_box {
    width: 100%;
    margin: auto;
    ;
    margin-top: 5%;
    display: flex;
}

.two_box div {
    width: 45%;
    margin: auto;
    text-align: center;
}

.two_box button {
    width: 50%;
    border: 1px solid black;
    border-radius: 3px;
    margin: auto;
    margin-top: 2%;
    background-color: #B2FF59;
    padding-top: 1%;
    padding-bottom: 1%;
}

.two_box div+div button {
    background-color: #FFC686;
}

.two_box p {
    font-size: 14px;
}


.two_box img {
    width: 100%;
}

/*   */
.sandle_image2 {
    width: 100%;
    margin: auto;
    margin-top: 7%;
    padding: auto;
}

/* set your sole free */

.set_your {
    width: 100%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;

}

.set_your div {
    width: 60%;
    box-sizing: border-box;
    display: flex;
    margin: auto;

}

.set_your div div {
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 2px;
    margin: auto;
    margin-left: 5%;
    text-align: center;
    background-color: #7986CB;
    padding-left: 10%;
}

/*  Buy now pay later */
.buy_now {
    width: 100%;
    margin: auto;
    background-color: #fcb3c7;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;

}

/* footer */

.about_section {
    width: 100%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 25%);

}

.about_section div a {
    display: block;
}

.about_section div a {
    color: #37474F;
    text-decoration: none;
    /* margin: 2% 2% !important; */
    margin-bottom: 3%;

}

footer {
    margin: auto;
    display: flex;
    background-color: #333;
    color: white;
    padding-top: 2%;
    padding-left: 2%;
    font-size: 12px;
    padding-bottom: 10%;
}

ul.no-bullets {
    display: flex;
    list-style-type: none;
    margin-right: 20%;
}

ul.no-bullets li {
    padding-right: 5%;
}


footer div img {
    width: 80px;
    height: 50px;
    padding-top: 4%;
    margin-right: 5%;
}

hr {
    width: 100%;
    margin: auto;
}


/*  media query */
/* medium */
@media only screen and (min-width: 500px) and (max-width:750px) {
    body {
        box-sizing: border-box;
    }

    .spring span {
        font-size: 12px;
        display: block;
    }

    .login_nav div {
        width: 100%;
    }

    .login_nav div a {
        text-decoration: none;
        color: #37474F;
    }

    /*  Main nav bar */
    .main {
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: space-between; */
    }

    .main img {
        width: 10%;
    }

    .main a {
        margin-left: 1%;
        margin-right: 1%;
        text-decoration: none;
        color: #37474F;
    }

    .cart div {
        display: none;
    }

    .spring2 {
        margin-top: auto;
        background-color: #dcdcdc;
        font-size: 16px;
        text-align: center;
        padding: 1%;

    }

    /*  Body  */


    /*  Spring in the air  */
    .statement {
        width: 100%;
        margin: auto;
        text-align: center;

    }

    .statement div {
        width: 60%;
        box-sizing: border-box;
        /* display: flex;
                margin: auto; */

    }

    .statement div div {
        box-sizing: border-box;
        border-radius: 2px;
        margin: auto;
        margin-left: 5%;
        text-align: center;
        background-color: #B2FF59;
    }

    /* two box partition */
    .two_box {
        width: 100%;
        margin: auto;
        ;
        margin-top: 7%;
        display: flex;
    }

    .two_box div {
        width: 50%;
    }

    /*   */
    .sandle_image2 {
        width: 100%;
        margin: auto;
        margin-top: 7%;
        padding: auto;
    }

    /* set your sole free */

    .set_your div div {
        margin-left: 8%;
        padding-left: 2%;
    }

    /*  Buy now pay later */
    /* .buy_now {
                width: 100%;
                margin: auto;
                background-color: #fcb3c7;
                padding-top: 1%;
                padding-bottom: 1%;
                text-align: center;

            } */

    /* footer */

    .about_section {
        width: 100%;
        padding: 2%;
        display: grid;
        grid-template-columns: repeat(2, 50%);

    }

    .about_section div a {
        display: flex
    }

    /* 
            footer {
                margin: auto;
                display: flex;
                background-color: #333;
                color: white;
                padding-top: 2%;
                padding-left: 2%;
                font-size: 12px;
                padding-bottom: 10%;
            } */

    /* ul.no-bullets {
                display: flex;
                list-style-type: none;
                margin-right: 20%;
            } */

    /* ul.no-bullets li {
                padding-right: 5%;
            } */

    /* 
            footer div img {
                width: 80px;
                height: 50px;
                padding-top: 4%;
                margin-right: 5%;
            } */

    hr {
        width: 100%;
        margin: auto;
    }


}


@media only screen and (max-width: 500px) {
    body {
        box-sizing: border-box;
    }

    .spring {
        display: none
    }

    .login_nav div {
        width: 100%;
    }

    .login_nav div a {
        font-size: 10px;
        margin: auto;
    }

    /*  Main nav bar */
    .main {
        font-size: 10px;
    }

    .main img {
        width: 10%;
    }

    .main a {
        margin-right: 1%;
    }

    .cart div {
        display: none;
    }

    .spring2 {
        font-size: 8px;
        padding: 1%;
        margin-left: -17%;

    }

    /*  Body  */
    .sandle_image {
        width: 80%;
        margin: auto;
        margin-top: 1%;
        padding: auto;
    }



    /*  Spring in the air  */
    .statement {
        width: 70%;
        /* margin: auto; */
        margin-left: 5%;

    }

    .statement div {
        width: 100%;
        box-sizing: border-box;
        display: block;
    }

    .statement div div {
        height: 30px;
    }

    /* two box partition */
    .two_box {
        width: 80%;
        margin: auto;
        margin-top: 7%;
        display: flex;
    }

    .two_box div {
        width: 40%;
    }

    /*   */
    .sandle_image2 {
        width: 100%;
        margin: auto;
        margin-top: 7%;
        padding: auto;
        /* display: block; */
    }

    /* set your sole free */
    .set_your div {
        display: block;
        margin: auto;
    }


    /* footer */

    .about_section {
        width: 100%;
        padding: 2%;
        display: grid;
        grid-template-columns: repeat(2, 50%);

    }

    .about_section div a {
        display: flex
    }





}